name: CI

on: [push]

jobs:
  mac:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: build bucklescript
      run: |
        brew install npm yarn
        npm install
        yarn add bsdoc@6.0.4-alpha
        ./build.sh

  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build bucklescript
      run: |
        sudo apt update
        sudo apt install -y npm
        npm install
        bash -x ./build.sh
        # doc
        mkdir public
        cp -r examples docs public
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./public

  doc:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build bucklescript
      run: |
        sudo apt update
        sudo apt install -y npm
        npm install
        bash -x ./build.sh
