name: CI

on: [push]

jobs:
  mac:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: build bucklescript
      run: |
        ./setup.sh
        ./build.sh

  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build bucklescript
      run: |
        ./setup.sh
        ./build.sh
        # doc
        mkdir public
        cp -r examples docs public
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
